img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.upgrade {
  padding: 10%;
  background-image: url(./images/upgrades/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(0.9);
  transition: transform 50ms;
}

.upgrade:hover {
  background-image: url(./images/upgrades/background_hover.svg);
  transform: scale(1);
}

.upgrade:active {
  transform: scale(0.85);
}

.bg-dirty-brick-wall {
  background-image: url(./images/backgrounds/dirty_brick_wall.svg);
  background-size: 10rem;
}

.bg-warning-pattern {
  background-image: url(./images/backgrounds/warning-pattern.svg);
  background-size: 1rem;
}

.bg-warning-pattern-horizontal {
  background-image: url(./images/backgrounds/warning-pattern-horizontal.svg);
  background-size: 1rem;
}
